
<div class="p-grid" style="margin-top: .5em">
  <div class="p-col">
    <p-card header="Chauffages" [style]="{width: '360px'}" styleClass="ui-card-shadow">
      <div style="width: 360px; height: 350px; text-align: center"><p-header>
          <img src="Card" src="assets/logo-chauffage.png" style="width: 300px; height: 300px;" (click)="listInstalChauffagesClicked()">
      </p-header>
    </div>
      <p-footer>
          <button pButton type="button" icon="pi pi-plus" label="New" class="ui-button-info" style="margin-right: .25em" (click)="addInstalChauffagesClicked()"></button>
          <button pButton type="button" icon="pi pi-search" label="View" class="ui-button-success" (click)="listInstalChauffagesClicked()"></button>
      </p-footer>
     </p-card> 
  </div>
  <div class="p-col">
    <p-card header="Eclairages" [style]="{width: '360px'}" styleClass="ui-card-shadow">
        <div style="width: 360px; height: 350px; text-align: center"><p-header>
          <img src="Card" src="assets/lamp.png" style="width: 350px; height: 350px;" (click)="listInstalEclairagesClicked()">
      </p-header>
    </div>
      <p-footer>
          <button pButton type="button" icon="pi pi-plus" label="New" class="ui-button-info" style="margin-right: .25em" (click)="addInstalEclairagesClicked()"></button>
          <button pButton type="button" icon="pi pi-search" label="View" class="ui-button-success" (click)="listInstalEclairagesClicked()"></button>
      </p-footer>
     </p-card> 
  </div>
  <div class="p-col">
    <p-card header="Chauffe-Eau" [style]="{width: '360px'}" styleClass="ui-card-shadow">
        <div style="width: 360px; height: 350px; text-align: center"><p-header>
          <img src="Card" src="assets/chauffage.png" style="width: 250px; height: 300px;" (click)="listInstalChauffeEauClicked()">
      </p-header>
    </div>
      <p-footer>
          <button pButton type="button" icon="pi pi-plus" label="New" class="ui-button-info" style="margin-right: .25em" (click)="addInstalChauffeEauClicked()"></button>
          <button pButton type="button" icon="pi pi-search" label="View" class="ui-button-success" (click)="listInstalChauffeEauClicked()"></button>
      </p-footer>
     </p-card> 
  </div>
  <div class="p-col">
    <p-card header="VMCs" [style]="{width: '360px'}" styleClass="ui-card-shadow">
        <div style="width: 360px; height: 350px; text-align: center"><p-header>
          <img src="Card" src="assets/whole-house-ventilation-icon-.png" style="width: 250px; height: 300px;" (click)="listInstalVMCsClicked()">
      </p-header>
    </div>
      <p-footer>
          <button pButton type="button" icon="pi pi-plus" label="New" class="ui-button-info" style="margin-right: .25em" (click)="addInstalVMCsClicked()"></button>
          <button pButton type="button" icon="pi pi-search" label="View" class="ui-button-success" (click)="listInstalVMCsClicked()"></button>
      </p-footer>
     </p-card> 
  </div>
  <div class="p-col">
    <p-card header="Volets" [style]="{width: '360px'}" styleClass="ui-card-shadow">
        <div style="width: 360px; height: 350px; text-align: center"><p-header>
          <img src="Card" src="assets/shutters.png" style="width: 250px; height: 300px;" (click)="listInstalVoletsClicked()">
      </p-header>
    </div>
      <p-footer>
          <button pButton type="button" icon="pi pi-plus" label="New" class="ui-button-info" style="margin-right: .25em" (click)="addInstalVoletsClicked()"></button>
          <button pButton type="button" icon="pi pi-search" label="View" class="ui-button-success" (click)="listInstalVoletsClicked()"></button>
      </p-footer>
     </p-card> 
  </div>
</div>




 
<div>
  <app-bottom-part></app-bottom-part>
  </div>