<button pButton type="button" label="Retour"  class="ui-button-warning" (click)="goBackButtonPressed()"></button>

<p-panel>
  <p-header>
      <div class="ui-helper-clearfix">
          <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px">VMC ID : {{ instalVMC_in_progress.id }}</span>
          <button pButton style = "float: right" label="Edit" icon="pi pi-check" (click)="userClickedOnEditVMC()" ></button>
      </div>
  </p-header>

  <p-fieldset legend="Date d'ajout">
        <h5 class="first">{{ instalVMC_in_progress.dateAjout }}</h5>
  </p-fieldset>

  <p-fieldset legend="Etat">
        <p-inputSwitch disabled [(ngModel)]="instalVMC_in_progress.etat" ></p-inputSwitch>
  </p-fieldset>

  <p-fieldset legend="Localisation">
        <h5 class="first">{{ instalVMC_in_progress.piece.nomPiece}}</h5>
  </p-fieldset>

  <p-fieldset legend="Puissance">
        <h5 class="first"> {{ instalVMC_in_progress.puissance }} %</h5>
        
  </p-fieldset>

  <p-fieldset legend="Consommation">
        <h5>Fournisseur : {{ instalVMC_in_progress.consoElec.fournisseur }}</h5>
        <h5>{{ instalVMC_in_progress.consoElec.consKWhJour }} KWh/jour</h5>
        <h5>{{ instalVMC_in_progress.consoElec.consKWhMois }} KWh/mois</h5>
        <h5>{{ instalVMC_in_progress.consoElec.consKWhAn }} KWh/an</h5>   
    </p-fieldset>
  
  <p-fieldset legend="Programmes associés" [toggleable]="true">
      <ul>
          <li *ngFor="let programme of instalVMC_in_progress.programmes">
              <p>ID : {{ programme.idProg }}, <b> {{ programme.nomProg }} </b></p>
              <I> localisation : {{ programme.piece.nomPiece }}</I>
          </li>
        </ul>
  </p-fieldset>   

  <p-footer>
      <button pButton type="button" label="Delete" icon="pi pi-times" class="ui-button-secondary" (click)="userClickedOnDeleteVMC()"></button>
  </p-footer>

</p-panel>
