
  <div style="position: absolute; left:25%; top: 25%;">
  <ngb-carousel style="width: 1000px;">
    <ng-template ngbSlide>
      <img src="assets/Plan de maison.jpg" style="width: 1000px; height: 500px;" alt="Random first slide" (click)="listPiecesClicked()">
      <div class="carousel-caption">
        <h3>Mes Pièces</h3>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="assets/instals.jpg" style="width: 1000px; height: 500px;" alt="Random second slide" (click)="listInstalsClicked()">
      <div class="carousel-caption">
          <h3>Mes Installations</h3>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="assets/thermometre.jpg" style="width: 1000px; height: 500px;" alt="Random third slide" (click)="listCapteursClicked()">
      <div class="carousel-caption">
          <h3>Mes Capteurs</h3>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="assets/consos.jpg" style="width: 1000px; height: 500px;" alt="Random fourth slide" (click)="listConsosClicked()">
      <div class="carousel-caption">
          <h3>Mes consommations</h3>
      </div>
    </ng-template>
  </ngb-carousel>
</div>
<div style="position: absolute; bottom:1%; width: 100%">
<app-bottom-part></app-bottom-part>
</div>
